body {
    
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {

    background-color: rgba(27, 25, 25, 0.85);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
}

h1 {

    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

form {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {

    width: 100%;
    width: 48%;
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: bold;
}

input {

    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {

    border-color: #9542ee;
    box-shadow: 0 0 8px rgba(149, 66, 238, 0.5);
    outline: none;
}

button {

    width: 100%;
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 21, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {

    background-color: #5f97f8;
    transform: scale(1.05);
}

.dashboard__logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9rem;
    margin-top: 50px;
    height: 150px;
    max-width: 100%;
}

.popup {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

.popup-overlay {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


@media screen and (max-width: 1080px) {

    .container {
        padding: 20px;
    }

    h1 {

        font-size: 1.8em;
    }

    label {

        width: 100%;
    }

    input {

        padding: 10px;
    }

    button {

        padding: 12px;
        font-size: 16px;
    }

    .dashboard__logo {

        height: 120px;
    }

    .popup {

        width: 250px;
        padding: 15px;
    }
}

@media screen and (max-width: 780px) {
    .container {

        padding: 15px;
    }

    h1 {

        font-size: 1.5em;
    }

    label {

        width: 100%;
    }

    input {

        padding: 8px;
    }

    button {

        padding: 10px;
        font-size: 14px;
    }

    .dashboard__logo {

        height: 100px;
    }

    .popup {

        width: 200px;
        padding: 10px;
    }
}